<app-header></app-header>

<div class="create-user-container">
  <h2>Criar Novo Usuário</h2>
  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput id="email" formControlName="email" type="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput id="password" formControlName="password" type="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nível de Permissão</mat-label>
      <mat-select id="accessLevel" formControlName="accessLevel">
        <mat-option value="level1">Level 1</mat-option>
        <mat-option value="level2">Level 2</mat-option>
        <mat-option value="level3">Level 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Área de Trabalho</mat-label>
      <mat-select id="workspace" formControlName="workspace">
        <mat-option *ngFor="let workspace of workspaces" [value]="workspace.id">{{ workspace.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Criar Usuário</button>
  </form>
  <mat-error *ngIf="errorMessage" class="error-message">{{ errorMessage }}</mat-error>
</div>
